<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
  <button class="navbar-toggler" type="button" [ngClass]="{collapsed: isCollapsed}"  (click)="isCollapsed = ! isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{show: !isCollapsed}">
    <a class="navbar-brand" [routerLink]="['/home']">
    <img src="/assets/img/motapod.png" height="20" alt="">
    Piker-recarga
  </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" >
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/history']" [routerLinkActive]="['active']">Historial</a>
      </li>
    </ul>
  </div>
</nav>