<div class="container">
  <template ngbModalContainer #errorContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title"><i class="red fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Error</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
      {{error | httpErrorPipe }}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
    </div>
  </template>
  <div class="row top-margin" *ngIf="recargas">
    <div class="col">
      <ul class="list-group">
          <app-history-item *ngFor="let recarga of recargas" [rec]="recarga"></app-history-item>
      </ul>
    </div>
  </div>
</div>
