.container, .row{
    height: 100vh;
}

.card{
    max-width: 800px;
    margin: 0 auto;
}

.extras{
    padding-top: 20px;
    font-size: 0.7em;
    width: 100%;
    text-align: center;
}

.card-title{
    width: 100%;
    font-size: 2.4em;
    font-weight: 600;
    text-align: center;
    line-height: 2.4em;
}

.alert{
  margin-top: 5px;
}

.fa-envelope{
    padding: 0 15px;
}
