.row{
    height: 80vh;
}

.card {
    max-width: 800px;
    margin: 0 auto;
}

template{
    z-index: 99;
}

.green{
    color: #27ae60;
}

.fa-pulse{
    opacity: 1;
}

.t-2{
    font-size: 1.3em;
}

.alert{
  margin-top: 5px;
}
